.top-header {
  text-align: right;
  margin-top: 5px;
}

.top-header>a, .top-header>a:hover {
  color: #666666;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}

.header-logo {
  padding-left: 0;
  margin-bottom: 40px;
}

.mobile-btn-box {
  border: 1px solid #c5c5c6;
  border-radius: 0;
  top: -20px;
  margin-bottom: 70px;
  margin-right: 20px;

}

.mobile-btn {
  color: #1d252d;
  margin-left: 15px;
  margin-right: 15px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.nav .navbar-justified > a {
  padding:0;
}

.nav>li>a {
  padding:0;
  text-align: left;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}

.nav-menu {
  height: 158px;
  border-bottom: 2px solid #eee;
}

.main-navigation {
  font-size: 17px;
  letter-spacing: 1px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.mobile-menu {
  position: relative;
  top: -134px;
  right: -34px;
  width: 100%;
  background-color: #ff671f;
  z-index: 99999;
  margin:0;
}

.mobile-menu>li>a {
  margin:0;
  width: 100%;
  padding: 8px 30px 8px 600px;
  color: white;
  text-align: right;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mobile-menu>li {
  width: 100%;
}

.mobile-menu>li>a:hover {
  color: #000;
}

p {
  font-size: 14px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 24px;
}

.image {
  width: 100%;
}

.footer-news {
  background-color: #eeeeee;
  padding-top: 27px;
  padding-bottom: 27px;
}
.footer-news a {
  color: #bf0603;
}

.footer-news h3 {
  color: #bf0603;
}

a {
  color: black;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:hover {
  color: #f56f02;
  text-decoration: none;
  background-color: transparent;
}

.carousel-caption {
  background-color: rgba(255, 102, 31, 0.77);
  fill-opacity: 0.7;
  top: 42px;
  left: 42px;
  right: auto;
  bottom: auto;
  text-align: left;
  width: 316px;
  height: 316px;
  padding: 15px;
  text-shadow: none;
  vertical-align: bottom;
}

.carousel-cap-btn-box {
  border: 1px solid white;
  border-radius: 0;
  background-color: transparent;
  padding:5px;

}


.carousel-cap-btn {
  color: white;
  background-color: transparent;
  letter-spacing: 2px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 5px;
}


.header-wrapper {
  padding-top: 27px;
  padding-bottom: 27px;
}


.carousel-container {
  max-width: 1310px;
  width: 100%;
  padding: 0;
  margin-top: 230px;
}


.content-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  margin-top: 91px;
  margin-bottom: 21px;
}

.header-container {
  top: 0;
  width: 100%;
  height: 210px;
  margin: 0;
  padding: 0;
  position:fixed;
  background-color: white;
  z-index: 1;
}

.content-row {
  margin-bottom: 70px;
}
.content-row>.col-lg-6>h3 {
  font-size: 18px;
}
.content-row>.col-lg-6>p {
  font-size: 13px;
}

.link {
  color: #f56f02;
}

.footer {
  margin-top: 30px;
  padding-left: 0;
  margin-bottom: 40px;
}



.footer-list>li>, .footer-list>li>a, .copyright {
  color: #666666;
  padding:0;
  margin:0;
  text-align: left;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.copyright {
  letter-spacing: 0;
}